@{
    ViewBag.Title = "Home";
}

 <!--Featured Row-->
<div class="col-md-9 featured holidayhome vertical-center">
    <div class="overlay" style="min-height:125px;">
        <h2>Feel Like Home Away From Home</h2>
        <h4>Find your exclusive home for the holidays.</h4>
    </div>
    <div class="lil-overlay"><span class="glyphicon glyphicon-arrow-right"></span></div>
</div>

<div class="col-md-3 featured tuscany vertical-center">
    <div class="overlay" style="min-height:125px;">
        <h2>Find Your Tuscany Villa</h2>
        <h4>Explore the Map</h4>
    </div>
    <div class="lil-overlay"><span class="glyphicon glyphicon-search"></span></div>
</div>


<!--First Row of Blocks-->
<div class="row-md-2">

    <div class="col-md-3 square grid vertical-center" style="text-align:left;">
        <div class="inner-container">
            <h2 style="color:deepskyblue;">SOME ACCOMMODATION IDEAS FOR A PERFECT STAY</h2>
            <h5>YOUR DREAMS, OUR JOB!</h5>
            <span class="glyphicon glyphicon-arrow-right"></span>
        </div>
    </div>

    <div class="col-md-3 square grid zoom wedding vertical-center">
        <div class="overlay">
            <h3>Weddings</h3>
            <h6>57 Accomodations</h6>
        </div>
    </div>

    <div class="col-md-3 square grid friends zoom vertical-center">
        <div class="overlay">
            <h3>Friends</h3>
            <h6>56 Accomodations</h6>
        </div>
    </div>

    <div class="col-md-3 square grid family zoom vertical-center">
        <div class="overlay">
            <h3>Family</h3>
            <h6>55 Accomodations</h6>
        </div>
    </div>

</div>

<!--Second Row of Blocks-->
<div class="row-md-2">

    <div class="col-md-3 square grid zoom paola ">
        <div class="bottom-overlay">
            <h4>VILLA PAOLA</h4><h6><img src="~/Content/images/people-silhouettes.png" /> 12 <img hspace="5" /> <img src="~/Content/images/hospital-bed.png" /> 6 <img hspace="5" /> <img src="~/Content/images/shower.png" /> 4</h6>
        </div>
        <div class="color-overlay">
            <h4>$150</h4><h6>/ A Day</h6>
        </div>
        <div class="lil-bottom-overlay">
            <span class="glyphicon glyphicon-star" style="vertical-align:middle;"></span><h6>4/5</h6>
        </div>
    </div>

    <div class="col-md-3 square grid vertical-center">
        <div class="inner-container">
            <h2>Why Book A Villa</h2>
            <p>We offer clients an exclusive portfolio of private villas located in some of the most charming corners of the italian countryside and coastline.</p>
            <button type="button" class="btn btn-default btn-s">LEARN MORE</button>
        </div>
    </div>

    <div class="col-md-3 square grid lavilla zoom vertical-center">
        <div class="bottom-overlay">
            <h4>LA VILLA</h4><h6><img src="~/Content/images/people-silhouettes.png" /> 12 <img hspace="5" /> <img src="~/Content/images/hospital-bed.png" /> 6 <img hspace="5" /> <img src="~/Content/images/shower.png" /> 4</h6>
        </div>
        <div class="color-overlay">
            <h4>$150</h4><h6>/ A Day</h6>
        </div>
        <div class="lil-bottom-overlay">
            <span class="glyphicon glyphicon-star" style="vertical-align:middle;"></span><h6>4/5</h6>
        </div>
    </div>

    <div class="col-md-3 square grid vertical-center">
        <div class="inner-container">
            <h2>WHY US</h2>
            <p>Windows on Tuscany is a brand founded by Leonardo Ferragamo in 1986. specialized in property management and in short and long term rentals of prestigious apartments in Tuscany</p>
            <button type="button" class="btn btn-default btn-s">LEARN MORE</button>
        </div>
    </div>

</div>

<!--Third First Row of Blocks-->
<div class="row-md-2">

    <div class="col-md-3 square grid vertical-center">
        <div class="inner-container">
            <h2>SPEAK WITH OUR EXPERTS</h2>
            <p>Our highly qualified personnel makes sure each client is immediately catered to end the result in a dynamic group of young professionals dedicated to finding solutions and providing top quality</p>
        </div>
    </div>

    <div class="col-md-3 square grid gigli zoom vertical-center">
        <div class="bottom-overlay">
            <h4>VILLA DEI GIGLI</h4><h6><img src="~/Content/images/people-silhouettes.png" /> 12 <img hspace="5" /> <img src="~/Content/images/hospital-bed.png" /> 6 <img hspace="5" /> <img src="~/Content/images/shower.png" /> 4</h6>
        </div>
        <div class="color-overlay">
            <h4>$150</h4><h6>/ A Day</h6>
        </div>
        <div class="lil-bottom-overlay">
            <span class="glyphicon glyphicon-star" style="vertical-align:middle;"></span><h6>4/5</h6>
        </div>
    </div>

    <div class="col-md-3 square grid trust vertical-center">
        <div class="inner-container ">
            <h3>OUR CLIENTS TRUST US</h3>
            <h1>248</h1>
            <h3>Guest Reviews</h3>
            <h1>4.5/5.0</h1>
            <button type="button" class="btn btn-default btn-s btn-rev">READ ALL REVIEWS</button>
        </div>
    </div>

    <div class="col-md-3 square grid vertical-center">
        <div class="inner-container">
            <h5>SEEN ON</h5>
            <img src="~/Content/images/box_partners.png" />
        </div>
    </div>

</div>